@charset "utf=8";

@import url('reset.css');

/* ******************* 레이아웃 구성시작 **************** */
.container{padding: 105px 0;}
h1, h2, h3, h4, h5{margin: 0; padding: 0;}

.container h2{
  font: 700 3.6rem/24px 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 105px;
  color: #494949;
  position: relative;
}
.container h2::after{
  content: '';
  width: 8%;
  height: 5px;
  background-color: #494949;
  position: absolute; left: 46%; top: 45px;
}
/* ******************* 개별영역 선언시작 **************** */
/* ************** HEADER AREA START ************** */
#header{
  padding: 5px 0;
  background-color: #f2f2f2;
  border: 0;
}
#header .container{padding: 0 15px;}
#header .gnb{height: 30px;}
#header h1 a, #header #gnb a{
  text-decoration: none;
}

/* Logo */
#header h1{padding: 0;}
#header h1 a img{
  height: 70px;
}

/* Gnb */
#header #gnb ul li{
  position: relative;
}
#header #gnb ul li a{
  padding: 15px;
  font: 400 1.6rem/35px 'Roboto', sans-serif;
}

/* 메뉴 활성회 클래스 */
#header, #header h1 a, #header #gnb a{
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.fixed{
  padding: 10px 0 !important;
  background-color: #f2f2f2 !important;
  opacity: 90%;
}
.fixed .container .navbar-header h1 a{
  color: #ccc !important;
  font-size: 1.8rem !important;
}
.fixed #gnb a{color: #555 !important;}
.fixed #gnb a:hover{
  color: #000 !important;
  background-color: transparent !important;
}

#header.navbar-default .navbar-nav>.active>a,
#header.navbar-default .navbar-nav>.active>a:focus,
#header.navbar-default .navbar-nav>.active>a:hover{
  color: #333 !important;
  background-color: transparent !important;
}
/* ************** HOME AREA START ************** */
#home{
  background-color: #f2f2f2;
  padding-top: 42px;
  height: auto;
}
#home .container{
  padding-bottom: 0;
}
#home .container .left-box{
  float: left;
  width: 430px;
  margin: 210px 170px 0 0;
}
#home .container .left-box h3{
  font: 600 2.4rem/24px 'Nanum Gothic', sans-serif;
  margin-bottom: 34px;
}
#home .container .left-box h1{
  font: 700 4rem/24px 'Nanum Gothic', sans-serif;
  margin-bottom: 34px;
}
#home .container .left-box h4{
  font: 700 1.6rem/26px 'Nanum Gothic', sans-serif;
  margin-bottom: 21px;
}
#home .container .left-box h4 span{
  font-size: 1.5rem;
}
#home .container .left-box p{
  font-size: 1.4rem;
  line-height: 21px;
  margin-bottom: 63px;
}
#home .container .left-box .btn{
  width: 170px;
  height: 42px;
  background-color: #393939;
  font: 400 1.4rem/28px 'Arial', sans-serif;
  color: #fff;
}
#home .container .left-box .btn i{
  margin-left: 10px;
  font-size: 1.3rem;
}
#home .container .left-box .btn:hover{
  box-shadow: 0px 15px 20px rgb(0 0 0 / 50%);
  transition-duration: 0.5s;
}
#home .container .right-box{
  width: 570px;
  height: 100%;
}
#home .container .right-box img{
  width: 470px;
  height: auto;
  margin-right: 100px;
}
/* ************** ABOUT AREA START ************** */
#about .container .left-box{
  width: 500px;
  margin-right: 170px;
}
#about .container .left-box h3{
  font: 700 2.7rem/24px 'Roboto', sans-serif;
  margin-bottom: 42px;
}
#about .container .left-box p{
  font: 500 1.5rem/30px 'Nanum Gothic', sans-serif;
  margin-bottom: 63px;
}
#about .container .left-box .btn{
  width: 200px;
  height: 42px;
  background-color: #393939;
  color: #fff;
  font: 400 1.4rem/30px 'Arial', sans-serif;
  float: right;
}
#about .container .left-box .btn i{
  margin-left: 10px;
}
#about .container .left-box .btn:hover{
  box-shadow: 0px 15px 20px rgb(0 0 0 / 50%);
  transition-duration: 0.5s;
}
#about .container .right-box{
  width: 500px;
}
#about .container .right-box ul li h4{
  font: 600 1.6rem/18px 'Roboto', sans-serif;
  color: #666;
  margin-bottom: 21px;
}
#about .container .right-box ul li h4 span{
  float: right;
}
#about .container .right-box ul li .progress{
  height: 6px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
#about .container .right-box ul li .progress .determinate{
  height: 6px;
  border-radius: 10px;
  background-color: #484848;
}
/* ************** STRENGTH AREA START ************** */
#strength{
  background-color: #f2f2f2;
}
#strength .container ul li .card{
  width: 270px;
  text-align: center;
  background-color: #fff;
  margin-right: 30px;
}
#strength .container ul li:last-child .card{
  margin: 0;
}
#strength .container ul li:hover .card{
  box-shadow: 0px 15px 40px rgb(0 0 0 / 50%);
  
  -webkit-transition: all ease 1.5s;
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  transition: all ease 1.5s;
}
#strength .container ul li .card i{
  width: 76px;
  height: 76px;
  border: 1px solid #484848;
  border-radius: 50%;
  font-size: 3.6rem;
  line-height: 76px;
  text-align: center;
  margin: 42px 0;
}
#strength .container ul li:hover .card i{
  color: #fff;
  background-color: #000;

  -webkit-transition: all ease 1.5s;
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  transition: all ease 1.5s;
}
#strength .container ul li .card h3{
  font: 800 1.8rem/24px 'Nanum Gothic', sans-serif;
  margin-bottom: 42px;
}
#strength .container ul li .card p{
  font-size: 1.5rem;
  line-height: 24px;
  padding: 0 24px 42px;
}
/* ************** PORTFOLIO AREA START ************** */
#portfolio{
  height: 100%;
}
#portfolio .container .list{
  width: 300px;
}
#portfolio .container .list ul li{
  display: inline-block;
  margin: 0 20px 84px 0;
  position: relative;
}
#portfolio .container .list ul li a{
  font: 400 1.6rem/24px 'Roboto', sans-serif;
  text-decoration: none;
}
#portfolio .container .list ul li a::after{
  content: '';
  width: 140%;
  height: 2px;
  background-color: #222;
  position: absolute; left: -4px; top: 10px;
  
  opacity: 0;
}
#portfolio .container .list ul li:hover a::after{
  opacity: 1;
}
#portfolio .container .list ul li a:hover{
  color: #555;
}
#portfolio .container .grid ul li{
  display: inline-block;
  width: 31.3%;
  height: 250px;
  border: 1px solid #ccc;
  margin: 0 1% 42px;
}
#portfolio .container .grid ul li .card{
  position: relative;
}
#portfolio .container .grid ul li .card a img{
  width: 100%;
  height: 248px;
  filter: grayscale(100%);
}
#portfolio .container .grid ul li .card a:hover img{
  filter: grayscale(0);

  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
#portfolio .container .grid ul li .card a .caption{
  width: 100%;
  height: 250px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; top: 0; left: 0;
  
  opacity: 0;
  
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
#portfolio .container .grid ul li .card a .caption i{
  width: 30px;
  height: 30px;
  background-color: #e2e2e2;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 30px;
}
#portfolio .container .grid ul li .card a:hover .caption{
  opacity: 1;
}
/* ************** POPUP ************** */
.white-popup{
  width: 50vh;
  height: 80vh;
  background-color: #f2f2f2;
  margin: auto;
  padding: 50px 30px;
  border-radius: 10px;
  position: relative;
}

.white-popup h3{
  font: 700 2.2rem/21px 'Nanum Gothic', sans-serif;
  margin-bottom: 42px;
}

.white-popup img {
  width: 80%;
  height: 55%;
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.white-popup ul{
  width: 100%;
}
.white-popup ul li{
  font: 1.4rem/25px 'Roboto', sans-serif;
}
.white-popup ul li:nth-child(odd){
  font-weight: 600;
  float: left;
  width: 25%;
}
.white-popup ul li:nth-child(even){
  float: right;
  width: 75%;
}
.white-popup a{
  width: 90px;
  height: 30px;
  display: block;
  background-color: #3d3d3d;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  font: 1.3rem/30px 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  position: absolute; right: 7%; top: 30%;
}
.white-popup a:hover{
  font-weight: bold;
  background-color: #5d5d5d;
  text-decoration: none;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #000;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, sans-serif;
}
/* ************** WHATIDO AREA START ************** */
#whatido{
  background-color: #f2f2f2;
}
#whatido .container ul li .card{
  width: 270px;
  text-align: center;
  background-color: #fff;
  margin-right: 30px;
}
#whatido .container ul li:last-child .card{
  margin: 0;
}
#whatido .container ul li:hover .card{
  box-shadow: 0px 15px 40px rgb(0 0 0 / 50%);
  
  -webkit-transition: all ease 1.5s;
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  transition: all ease 1.5s;
}
#whatido .container ul li .card i{
  width: 76px;
  height: 76px;
  border: 1px solid #484848;
  border-radius: 50%;
  font-size: 3.6rem;
  line-height: 76px;
  text-align: center;
  margin: 42px 0;
}
#whatido .container ul li:hover .card i{
  color: #fff;
  background-color: #000;

  -webkit-transition: all ease 1.5s;
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  transition: all ease 1.5s;
}
#whatido .container ul li .card h3{
  font: 800 1.8rem/24px 'Nanum Gothic', sans-serif;
  margin-bottom: 42px;
}
#whatido .container ul li .card p{
  font-size: 1.5rem;
  line-height: 24px;
  padding: 0 18px 42px;
}
/* ************** CONTACT AREA START ************** */
#contact{
  height: 100%;
}
#contact .container .left-box{
  width: 500px;
  float: left;
}
#contact .container .left-box h3{
  font: 400 2.2rem/24px 'Roboto', sans-serif;
  margin-bottom: 42px;
}
#contact .container .left-box .map{
  width: 500px;
  height: 210px;
  margin-bottom: 42px;
}
#contact .container .left-box .map iframe{
  width: 100%;
  height: 100%;
}
#contact .container .left-box ul li{
  font: 400 1.5rem/24px 'Nanum Gothic', sans-serif;
}
#contact .container .left-box ul li i{
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px 21px 0;
}
#contact .container .right-box{
  width: 600px;
  float: right;
}
#contact .container .right-box .form-group{
  width: 50%;
  float: left;
}
#contact .container .right-box .form-group label{
  width: 50%;
  font: 400 1.6rem/24px 'Nanum Gothic', sans-serif;
  color: #7d7d7d;
}
#contact .container .right-box .form-group input{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #7d7d7d;
  margin-bottom: 42px;
}
#contact .container .right-box textarea{
  border: 1px solid #7d7d7d;
  width: 100%;
  height: 230px;
  padding: 5px;
  margin-bottom: 42px;
}
#contact .container .right-box .btn{
  width: 100%;
  height: 42px;
  background-color: #393939;
  text-align: center;
  font: 400 1.4rem/27px 'Nanum Gothic', sans-serif;
  color: #fff;
}
#contact .container .right-box .btn:hover{
  box-shadow: 0px 15px 20px rgb(0 0 0 / 50%);
  transition-duration: 0.5s;
}
#contact .thankyou_message p{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 21px;
}
/* ************** FOOTER AREA START ************** */
#footer{
  background-color: #000;
}
#footer .container{
  padding: 20px;
}
#footer .container p{
  font: 400 1.4rem/20px 'Nanum Gothic', sans-serif;
  color: #fff;
  float: left;
}
#footer .container i{
  float: right;
  color: #fff;
  font-size: 1.6rem;
  line-height: 20px;
  margin-right: 30px;
}
/* ------------------- Media Query Area Start ----------------- */
/* ------------ Wide Area Start ---------- */
@media screen and (max-width:1199px /* 992이상 1199이하 */){
  .container h2{
    font: 700 3rem/24px 'Nanum Gothic', sans-serif;
    text-align: center;
    margin-bottom: 105px;
    color: #494949;
    position: relative;
  }
  .container h2::after{
    content: '';
    width: 8%;
    height: 5px;
    background-color: #494949;
    position: absolute; left: 46%; top: 45px;
  }
  #home .container .left-box{
    margin: 210px 0 0 0;
  }
  #home .container .right-box{
    width: 500px;
  }
  #about .container .left-box{
    margin-right: 63px;
    width: 450px;
  }
  #about .container .right-box{
    width: 450px;
  }
  #strength .container ul li .card{
    width: 220px;
  }
  #strength .container ul li .card p{
    font-size: 1.4rem;
    padding: 0 10px 42px;
  }
  #whatido .container ul li .card{
    width: 220px;
  }
  #whatido .container ul li .card p{
    font-size: 1.4rem;
    padding: 0 10px 42px;
  }
  #contact .container .left-box{
    width: 450px;
  }
  #contact .container .left-box .map{
    width: 100%;
  }
  #contact .container .right-box{
    width: 450px;
  }
  #contact .container .right-box .btn{
    font-size: 1.4rem;
  }
}
@media screen and (max-width:991px){
  .container h2{
    font: 700 2.8rem/24px 'Nanum Gothic', sans-serif;
    text-align: center;
    margin-bottom: 105px;
    color: #494949;
    position: relative;
  }
  .container h2::after{
    content: '';
    width: 8%;
    height: 5px;
    background-color: #494949;
    position: absolute; left: 46%; top: 45px;
  }
  #header h1 a{
    line-height: 55px;
  }
  #header h1 a img{
    height: 50px;
  }
  /* Gnb */
  #header #gnb ul li{
    position: relative;
  }
  #header #gnb ul li a{
    padding: 8px;
    font: 400 1.5rem/40px 'Roboto', sans-serif;
  }
  #home .container .left-box{
    width: 52%;
    margin: 147px 0 0 0;
  }
  #home .container .left-box h3{
    font-size: 2.3rem;
  }
  #home .container .left-box h1{
    font-size: 3.8rem;
  }
  #home .container .left-box h4{
    font-size: 1.5rem;
  }
  #home .container .left-box p{
    font-size: 1.3rem;
  }
  #home .container .right-box{
    width: 47%;
    margin: 0;
  }
  #home .container .right-box img{
    width: 350px;
    margin: 0;
  }
  #about{
    height: auto;
  }
  #about .container .left-box{
    width: 47%; 
    margin: 85px 30px 0 0;
  }
  #about .container .left-box h3{
    font-size: 2.5rem;
  }
  #about .container .left-box p{
    font-size: 1.3rem;
    margin-bottom: 42px;
  }
  #about .container .left-box .btn{
    width: 180px;
    font-size: 1.3rem;
  }
  #about .container .right-box{
    width: 49%;
    margin: 85px 0 0 0;
  }
  #about .container .right-box ul li .progress{
    width: 350px;
  }
  #strength{
    height: auto;
  }
  #strength .container ul li .card{
    width: 48%;
    height: 336px;
    margin-bottom: 30px;
  }
  #strength .container ul li:nth-child(2) .card,
  #strength .container ul li:nth-child(4) .card{
    margin-right: 0;
  }
  #portfolio .container .grid ul li{
    width: 48%;
  }
  #whatido{
    height: auto;
  }
  #whatido .container ul li .card{
    width: 48%;
    height: 336px;
    margin-bottom: 21px;
  }
  #whatido .container ul li:nth-child(2) .card,
  #whatido .container ul li:nth-child(4) .card{
    margin-right: 0;
  }
  #contact{
    height: auto;
  }
  #contact .container .left-box{
    width: 49%;
  }
  #contact .container .right-box{
    width: 50%;
  }
}
@media screen and (max-width:767px){
  #header .navbar-nav{
    margin: 0;
  }
  #home{
    height: auto;
  }
  #home .container .left-box{
    width: 100%;
    margin: 147px 0 84px;
  }
  #home .container .left-box h3{
    font-size: 2rem;
  }
  #home .container .left-box h1{
    font-size: 2.8rem;
  }
  #home .container .left-box h4{
    font-size: 1.4rem;
  }
  #home .container .left-box p{
    font-size: 1.2rem;
  }
  #home .container .right-box{
    width: 100%;
    margin-bottom: 84px;
  }
  #home .container .right-box img{
    width: 100%;
  }
  #about .container .left-box{
    width: 100%; 
    margin: 85px 30px 0 0;
  }
  #about .container .left-box h3{
    font-size: 2.3rem;
  }
  #about .container .left-box p{
    font-size: 1.2rem;
    margin-bottom: 42px;
  }
  #about .container .left-box .btn{
    width: 160px;
    font-size: 1.2rem;
  }
  #about .container .right-box{
    width: 100%;
    margin: 85px 0 0 0;
  }
  #about .container .right-box ul li .progress{
    width: 100%;
  }
  #strength .container ul li .card{
    width: 45%;
    height: 380px;
    margin-bottom: 20px;
  }
  #strength .container ul li:nth-child(1) .card,
  #strength .container ul li:nth-child(3) .card{
    margin-left: 10px;
  }
  #strength .container ul li:nth-child(2) .card,
  #strength .container ul li:nth-child(4) .card{
    margin-right: 0;
  }
  #whatido .container ul li .card{
    width: 45%;
    height: 380px;
    margin-bottom: 20px;
  }  
  #whatido .container ul li:nth-child(1) .card,
  #whatido .container ul li:nth-child(3) .card{
    margin-left: 10px;
  }
  #whatido .container ul li:nth-child(2) .card,
  #whatido .container ul li:nth-child(4) .card{
    margin-right: 0;
  }
  #portfolio .container .list{
    margin-left: 21px;
  }
  #contact .container .left-box{
    width: 100%;
  }
  #contact .container .right-box{
    width: 100%;
  }
}
@media screen and (max-width:515px){
  #home{
    height: auto;
  }
  #home .container .left-box{
    width: 100%;
    margin: 42px 0 84px;
  }
  #home .container .right-box{
    width: 100%;
  }
  #home .container .right-box img{
    width: 100%;
  }
  #about .container .left-box{
    width: 100%; 
    margin: 85px 30px 0 0;
  }
  #about .container .left-box h3{
    font-size: 2.2rem;
  }
  #about .container .left-box p{
    font-size: 1.2rem;
    margin-bottom: 42px;
  }
  #about .container .left-box .btn{
    width: 160px;
    font-size: 1.2rem;
  }
  #about .container .right-box{
    width: 100%;
    margin: 85px 0 0 0;
  }
  #about .container .right-box ul li .progress{
    width: 100%;
  }
  #strength .container ul li .card{
    width: 97%;
    height: 336px;
    margin: 0 10px 20px;
  }
  #strength .container ul li:nth-child(4) .card{
    margin: 0 10px 20px;
  }
  #portfolio .container .grid ul li{
    width: 98%;
  }
  #whatido .container ul li .card{
    width: 97%;
    height: 336px;
    margin: 0 10px 20px;
  }
  #whatido .container ul li:nth-child(4) .card{
    margin: 0 10px 20px;
  }
  #contact .container .left-box{
    width: 100%;
  }
  #contact .container .right-box{
    width: 100%;
  }
}